<html>

<form method="POST" action="/create">
<input type="text" name="login">
<input type="text" name="email">
<input type="text" name="password">
<input type="text" name="type">
<input type="text" name="operation">
</form>

</html>
{{!-- views by Larin --}}