<head>
  <title>Авторизація</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <script src="/js/jquery-3.0.0.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js" defer></script>
</head>
<body style="background-color: #2f2f2f;">
  <div class="wrapper fadeInDown">
    <div id='formContent'>
      <div class="fadeIn first">
        <img src="/css/logo_login.png" id="icon" alt="User Icon"/>
      </div>
      <form method="post" action="/admin/login">
        <input id="login" class="fadeIn second" type="text" name="login" autocomplete="off" placeholder="Логін"/> 
        <input type="password" value="{{pass}}" class="fadeIn third" name="password" placeholder="Пароль" >
        <input id="button" type="submit" class="fadeIn fourth" value="Увійти">
      </form>
    </div>
  </div>     
</body>