<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style="background-color: #2f2f2f;">
    <div class="wrapper fadeInDown">
        <div id='formContent'>
            <div class="fadeIn first">
                <img src="/css/logo_login.png" id="icon" alt="User Icon"/>
            </div>
            <form method="post" action="/admin/login">
                <input id="login" class="fadeIn second" type="text" name="login" autocomplete="off" placeholder="Логін"/> 
                <input type="password" value="{{pass}}" class="fadeIn third" name="password" placeholder="Пароль" >
                <input id="button" type="submit" class="fadeIn fourth" value="Увійти">
            </form>
        </div>
    </div>     
</body>
</html>