<head>
  <title>Головна</title>
  <link rel="stylesheet" href="/css/main_styles.css">
</head>
<body>
  <header class="header">
    <h1>{{nameuser}}, Вітаємо вас!</h1>
    <a id="exit" href="/admin/{{user}}/exit"><i class="fas fa-power-off"></i> ВИХІД</a>
  </header> 
  {{> sidebar id=user}}
</body>
